In [183]:
import numpy as np
import pandas as pd
import os
import datetime
import math

weather_df = pd.read_csv('../data/weather20102018.csv', encoding='EUC_KR')
power_df = pd.read_csv('../data/power20102019.csv', encoding='EUC_KR')

# String date to Datetime
weather_df = weather_df.rename(columns={'일시': 'Date'})
weather_df['Date'] = pd.to_datetime(weather_df['Date'], dayfirst=True)

# Hour column to row
power_df = power_df.drop(columns=['MAX', 'MIN', 'AVG'])
power_df = pd.melt(power_df, id_vars=['Date'], value_vars=list(power_df.columns[1:]), value_name='power(MW)')
power_df['Date'] = power_df['Date'].map(str) + "-0" + power_df['variable'].replace('24h', '0h')
power_df['Date'] = pd.to_datetime(power_df['Date'])
power_df = power_df.drop(columns=['variable'])

In [188]:
weather_df.head()

,Date,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,2010-01-01 00:00:00,1.6,NaN,1.0,320.0,63.0,4.3,-4.6,1015.2,1021.6,...,Sc,10.0,1800.0,NaN,NaN,-0.5,NaN,NaN,NaN,NaN
1,2010-01-01 01:00:00,1.6,NaN,1.2,290.0,65.0,4.5,-4.2,1015.5,1021.9,...,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,NaN
2,2010-01-01 02:00:00,1.1,NaN,1.9,290.0,60.0,4.0,-5.8,1015.5,1021.9,...,NaN,NaN,NaN,NaN,NaN,-0.9,NaN,NaN,NaN,NaN
3,2010-01-01 03:00:00,0.9,NaN,1.9,290.0,61.0,4.0,-5.7,1015.8,1022.2,...,Sc,10.0,2000.0,4.0,NaN,-1.1,4.4,4.7,7.6,9.4
4,2010-01-01 04:00:00,1.6,NaN,1.8,290.0,56.0,3.8,-6.2,1015.6,1022.0,...,Sc,10.0,2000.0,NaN,NaN,-1.3,NaN,NaN,NaN,NaN

In [189]:
power_df.head()

                 Date  power(MW)
0 2010-01-01 01:00:00        458
1 2010-01-02 01:00:00        476
2 2010-01-03 01:00:00        478
3 2010-01-04 01:00:00        470
4 2010-01-05 01:00:00        491